@model IEnumerable<User>
@{
    Layout = null;
    //ViewBag.Title = "用户";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>用户名</th>
            <th>密码</th>
        </tr>
        @foreach (var item in Model)
        {
           <tr>
               <td>
                   @Html.DisplayFor(modelItem=>item.Id)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.UserName)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.Password)
               </td>
           </tr>
        }
    </table>
</body>
</html>
